<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>My Reading Stats</title>
	<!--
	.------.
	|K.--. |
	| :/\: |
	| :\/: |
	| '--'K|
	`------'
	          _____
	         /\    \
	        /::\____\
	       /:::/    /
	      /:::/    /
	     /:::/    /
	    /:::/____/
	   /::::\    \
	  /::::::\____\________
	 /:::/\:::::::::::\    \
	/:::/  |:::::::::::\____\
	\::/   |::|~~~|~~~~~
	 \/____|::|   |
	       |::|   |
	       |::|   |
	       |::|   |
	       |::|   |
	       |::|   |
	       \::|   |
	        \:|   |
	         \|___|

	-->
	<link rel="stylesheet" href="css/default.css"/>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script type="text/javascript" src="js/jquery-1.2.6.pack.js"></script>
	<script type="text/javascript" src="js/jquery.masonry.min.js"></script>
</head>
<body class='home'>
<div id="wrap" class='content'>
	<div id="headerWrapper">
		<div id="headerContent">
			<div id="title">
				<div class="titleText">Reading Stats</div>
			</div>
			<div id="dueStats">
				<div id="nextDue">Next book due in #dueDays days</div>
				<div id="dateDue">#dueDate</div>
			</div>
			<div id="progressStats">
				<div id="progressBarBorder">
					<div id="progressBar"><span style="visibility:hidden">hide</span></div>
				</div>
				<div class="progressPercentage">
					<a href="http://www.goodreads.com/user_challenges/{{challengeId}}">
						{{read}} of {{goal}} ({{percentage}}%)
					</a>
				</div>
				<div id="toRead">29.01 - 23 = 6.01 books</div>
			</div>
		</div>
	</div>
	<div id="booksWidget">
		<div id="gr_grid_widget_1336201136">
			<!-- Show static html as a placeholder in case js is not enabled - javascript include will override this if things work -->
			<div class="gr_grid_container">
				<div class="gr_grid_book_container"><a href="http://www.goodreads.com/book/show/373755.Absalom_Absalom_" title="Absalom, Absalom!"><img alt="Absalom, Absalom!" border="0" src="http://photo.goodreads.com/books/1174260301s/373755.jpg" /></a></div>
				<div class="gr_grid_book_container"><a href="http://www.goodreads.com/book/show/10542898-fuente-ovejuna" title="Fuente Ovejuna"><img alt="Fuente Ovejuna" border="0" src="http://www.goodreads.com/assets/nocover/60x80.png" /></a></div>
				<div class="gr_grid_book_container"><a href="http://www.goodreads.com/book/show/13614740-bodas-de-sangre" title="Bodas de sangre"><img alt="Bodas de sangre" border="0" src="http://www.goodreads.com/assets/nocover/60x80.png" /></a></div>
				<div class="gr_grid_book_container"><a href="http://www.goodreads.com/book/show/967110.The_Adventures_of_Huckleberry_Finn" title="The Adventures of Huckleberry Finn"><img alt="The Adventures of Huckleberry Finn" border="0" src="http://photo.goodreads.com/books/1179874346s/967110.jpg" /></a></div>
				<div class="gr_grid_book_container"><a href="http://www.goodreads.com/book/show/786973.The_Scarlet_Letter" title="The Scarlet Letter"><img alt="The Scarlet Letter" border="0" src="http://www.goodreads.com/assets/nocover/60x80.png" /></a></div>
				<div class="gr_grid_book_container"><a href="http://www.goodreads.com/book/show/6978247-mortal-y-rosa" title="Mortal y rosa"><img alt="Mortal y rosa" border="0" src="http://www.goodreads.com/assets/nocover/60x80.png" /></a></div>
				<div class="gr_grid_book_container"><a href="http://www.goodreads.com/book/show/13413161-the-adventures-of-tom-sawyer" title="The Adventures of Tom Sawyer"><img alt="The Adventures of Tom Sawyer" border="0" src="http://photo.goodreads.com/books/1326569448s/13413161.jpg" /></a></div>
				<div class="gr_grid_book_container"><a href="http://www.goodreads.com/book/show/400888.Oliver_Twist" title="Oliver Twist"><img alt="Oliver Twist" border="0" src="http://photo.goodreads.com/books/1330900238s/400888.jpg" /></a></div>
				<div class="gr_grid_book_container"><a href="http://www.goodreads.com/book/show/168118.El_llano_en_llamas" title="El llano en llamas (The Burning Plain)"><img alt="El llano en llamas" border="0" src="http://photo.goodreads.com/books/1172357344s/168118.jpg" /></a></div>
				<div class="gr_grid_book_container"><a href="http://www.goodreads.com/book/show/40698.Of_Mice_and_Men" title="Of Mice and Men"><img alt="Of Mice and Men" border="0" src="http://photo.goodreads.com/books/1239412348s/40698.jpg" /></a></div>
				<div class="gr_grid_book_container"><a href="http://www.goodreads.com/book/show/168642.In_Cold_Blood" title="In Cold Blood"><img alt="In Cold Blood" border="0" src="http://photo.goodreads.com/books/1327873309s/168642.jpg" /></a></div>
				<div class="gr_grid_book_container"><a href="http://www.goodreads.com/book/show/69510.Los_Santos_Inocentes" title="Los Santos Inocentes"><img alt="Los Santos Inocentes" border="0" src="http://photo.goodreads.com/books/1170709234s/69510.jpg" /></a></div>
				<div class="gr_grid_book_container"><a href="http://www.goodreads.com/book/show/239217.The_Pearl" title="The Pearl"><img alt="The Pearl" border="0" src="http://photo.goodreads.com/books/1327624193s/239217.jpg" /></a></div>
				<div class="gr_grid_book_container"><a href="http://www.goodreads.com/book/show/7178.The_Catcher_in_the_Rye" title="The Catcher in the Rye"><img alt="The Catcher in the Rye" border="0" src="http://photo.goodreads.com/books/1330776113s/7178.jpg" /></a></div>
				<div class="gr_grid_book_container"><a href="http://www.goodreads.com/book/show/12541807-el-amante-de-lady-chatterley" title="El Amante de Lady Chatterley"><img alt="El Amante de Lady Chatterley" border="0" src="http://www.goodreads.com/assets/nocover/60x80.png" /></a></div>
				<div class="gr_grid_book_container"><a href="http://www.goodreads.com/book/show/437349.Othello" title="Othello"><img alt="Othello" border="0" src="http://photo.goodreads.com/books/1174766495s/437349.jpg" /></a></div>
				<div class="gr_grid_book_container"><a href="http://www.goodreads.com/book/show/3243936-pedro-p-ramo" title="Pedro Páramo"><img alt="Pedro Páramo" border="0" src="http://photo.goodreads.com/books/1267882569s/3243936.jpg" /></a></div>
				<div class="gr_grid_book_container"><a href="http://www.goodreads.com/book/show/13097106-tirano-banderas" title="Tirano Banderas "><img alt="Tirano Banderas" border="0" src="http://www.goodreads.com/assets/nocover/60x80.png" /></a></div>
				<div class="gr_grid_book_container"><a href="http://www.goodreads.com/book/show/1071072.Juntacadaveres" title="Juntacadaveres (El Libro De Bolsillo)"><img alt="Juntacadaveres" border="0" src="http://www.goodreads.com/assets/nocover/60x80.png" /></a></div>
				<div class="gr_grid_book_container"><a href="http://www.goodreads.com/book/show/8485851-do-a-perfecta" title="Doña Perfecta"><img alt="Doña Perfecta" border="0" src="http://photo.goodreads.com/books/1327101932s/8485851.jpg" /></a></div>
			</div>
			<span class="percent" style="left: 14306.25px;">50%</span>
			<div class="fill" style="width: 50%; "><span style="visibility:hidden">hide</span></div>
        </div>
        <script src="http://www.goodreads.com/review/grid_widget/{{userId}}.Isabel's%20bookshelf:%20read?cover_size=small&hide_link=true&hide_title=true&num_books=23&order=d&shelf=read&sort=date_read&widget_id=1336201136" type="text/javascript" charset="utf-8"></script>
	</div>
	<script type="text/javascript">
		function getGlobalStats() {
			var width = 19;
			var border = 5;
			var read = parseInt("{{read}}");
			var goal = parseInt("{{goal}}");
			var percentage = "{{percentage}}%";

			headerStats(read,goal,percentage);
			formatGrid(width, border);
			fillWidgetBar(goal, read, width, border, percentage);

		}
		function fillWidgetBar(goal, read, width, border, percentage){
			var tbrMiddle = (goal + read) / 4 * width + border - 20;
			console.log(tbrMiddle);
			console.log(percentage);
			$("<span></span>").text(percentage).addClass("percent").css("left", tbrMiddle + "px").appendTo('#gr_grid_widget_1336201136');
			$("<div><span style='visibility:hidden'>hide</span></div>").addClass("fill").css("width", percentage).appendTo('#gr_grid_widget_1336201136');
		}
		function headerStats(read, goal, percentage) {
			var dayMillis = 24 * 60 * 60 * 1000;
			var speed = Math.floor(365 / goal) * dayMillis;
			var now = Date.now();
			var init = new Date((new Date()).getFullYear(), 0, 1, 0, 0, 0).valueOf();

			var expected = (now - init + dayMillis) / speed;
			var dueDate = init + Math.ceil(expected) * speed;
			var dueDays = Math.floor((dueDate - now) / dayMillis);

			$('#progressBar').css("width", percentage);
			$('#toRead').text(expected.toFixed(2) + " - " + read + " = " + (expected - read).toFixed(2) + " books");
			$('#nextDue').text("Next book due in " + dueDays + " days");
			$('#dateDue').text((new Date(dueDate)).toDateString());
		}
		function formatGrid(width, border) {
			var gridBooks = $(".gr_grid_book_container");
			var gridCount = gridBooks.length;
			var parity = gridCount % 2;
			console.log(gridCount);
			for (var i = 0; i < gridCount; i++) {
				var col = Math.floor((gridCount - i - 1) / 2);
				$(gridBooks[i]).css("left", (col * width + border) + "px").addClass(parity === i % 2 ? "bottom_row" : "top_row");
			}
		}
		getGlobalStats();
	</script>
	<div id="mySuperDiv"></div>
	<div id="mainContent" class="noBullet">
		<ul id="main_books">
			{{#hashes}}
			<li id='{{hash}}' class='bookTable'></li>
			{{/hashes}}
		</ul>
	</div>
	<div id="chartsContent" class="noBullet">
		<div class="chartsTitle">
			<h1>Charts</h1>
		</div>
		<ul id="main_charts" style="padding-left: 0;">
			{{#hashes}}
			<li>
				<a name="{{hash}}_chart"></a>
				<div id='chart_{{hash}}'></div>
			</li>
			{{/hashes}}
		</ul>
		<br/>
	</div>
</div>
<!--end wrap-->
<div class="footerContainer">
	<div class="footer">
		<div id="phpstorm" class="copyright">
			<a href="http://www.jetbrains.com/phpstorm/" alt="Smart editor for HTML, CSS &amp; JavaScript"
			title="Smart editor for HTML, CSS & JavaScript">
				<span style="margin: 3px 0 0 65px;padding: 0;float: left;font-size: 12px;cursor:pointer;
				background-image:none;border:0;color: #fff; font-family: trebuchet ms,arial,sans-serif;
				font-weight: normal;text-align:left;">Developed with</span>
				<span style="margin:0 0 0 185px;padding:18px 0 2px 0; line-height:13px;font-size:13px;cursor:pointer;
				background-image:none;border:0;display:block; width:270px; color: #fff; font-family: trebuchet ms,arial,sans-serif;
				font-weight: normal;text-align:left;">
				Smart editor for HTML, CSS & JavaScript. <br/>Wonderful Node.js support!</span></a>
		</div>
		<span class="adminLinksContainer">
			Information obtained from <a href="http://www.goodreads.com">Goodreads</a>
		</span>
	</div>
</div>
<script type='text/javascript' >
	var myBooks = new Array();
	// Add items {{#hashes}}
	myBooks.push("{{hash}}"); // Hash {{/hashes}}
	var myBooksData = new Array();
	// Add items {{#books}}
	myBooksData.push("{{book}}"); // Book {{/books}}
	var allBooks = "{{books}}";
</script>
<script src='js/books.js' type='text/javascript'></script>

</body>
</html>
